.calculator {
  margin: 5rem auto;
  width: 50%;
  height: 62vh;
  border: 1px solid white;
  border-top-width: 4px;
  display: grid;
}

.bottom {
  height: 45rem;
  display: grid;
  grid-template-areas:
    'button button button last'
    'button button button last'
    'button button button last'
    'button button button last'
    'button button button last';
}
