.last {
	grid-area: last;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 1fr);
}

.last > * {
	background-color: #f5913e;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}
